/* Write your CSS here */
.dark-bg {
  background-color: #000000;
}
.light-bg {
  background-color: #ffffff;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.image {
  height: 140px;
  width: 140px;
}
